<div class="page-wrapper">
  <footer class="footer">
    <div class="footer-content">
      <ul class="menu-link-footer">
        <li><a routerLink="/contact">{{ 'pages.translate.footer.contato' | translate }}</a></li>
        <li><a routerLink="/about">{{ 'pages.translate.footer.sobre' | translate }}</a></li>
        <li><a routerLink="/support">{{ 'pages.translate.footer.suporte' | translate }}</a></li>
        <li><a routerLink="/faq">{{ 'pages.translate.footer.faq' | translate }}</a></li>
        <li><a routerLink="/work-with-us">{{ 'pages.translate.footer.trabalheConosco' | translate }}</a></li>
        <li><a routerLink="/use-terms">{{ 'pages.translate.footer.termosUso' | translate }}</a></li>
        <li><a routerLink="/privacy">{{ 'pages.translate.footer.politicaPrivacidade' | translate }}</a></li>
      </ul>
      <p>{{ 'pages.translate.footer.copyright' | translate }}</p>
    </div>
  </footer>
</div>
