<div class="page-wrapper">
  <footer class="footer">
    <div class="footer-content">
      <ul class="menu-link-footer">
        <li><a routerLink="/contato">{{ 'pages.translate.footer.contato' | translate }}</a></li>
        <li><a routerLink="/sobre">{{ 'pages.translate.footer.sobre' | translate }}</a></li>
        <li><a routerLink="/suporte">{{ 'pages.translate.footer.suporte' | translate }}</a></li>
        <li><a routerLink="/faq">{{ 'pages.translate.footer.faq' | translate }}</a></li>
        <li><a routerLink="/trabalhe-conosco">{{ 'pages.translate.footer.trabalheConosco' | translate }}</a></li>
        <li><a routerLink="/termos-de-uso">{{ 'pages.translate.footer.termosUso' | translate }}</a></li>
        <li><a routerLink="/politica-de-privacidade">{{ 'pages.translate.footer.politicaPrivacidade' | translate }}</a></li>
      </ul>
      <p>{{ 'pages.translate.footer.copyright' | translate }}</p>
    </div>
  </footer>
</div>
