<app-nav-menu></app-nav-menu>

<div class="company-page">
  <div class="left-section">
    <!-- Conteúdo opcional à esquerda -->
  </div>

  <div class="right-section">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title text-center">
          {{ loginType === 'login' ? ('pages.translate.empresasAuth.login.login' | translate) :
          ('pages.translate.empresasAuth.login.registrar' | translate) }}
        </h4>

        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="email">{{ 'pages.translate.empresasAuth.login.form.email' | translate }}</label>
            <input type="email" class="form-control" id="email"
              placeholder="{{ 'pages.translate.empresasAuth.login.form.emailPlaceholder' | translate }}" formControlName="email"
              required>
            <div *ngIf="companyForm.get('email')?.touched && companyForm.get('email')?.invalid"
              class="invalid-feedback">
              <div *ngIf="companyForm.get('email')?.errors?.['required']">
                {{ 'pages.translate.empresasAuth.login.form.login.emailRequired' | translate }}
              </div>
              <div *ngIf="companyForm.get('email')?.errors?.['email']">
                {{ 'pages.translate.empresasAuth.login.form.login.emailInvalid' | translate }}
              </div>
            </div>
          </div>

          <!-- Campo confirmar email, visível apenas no registro -->
          <div *ngIf="loginType === 'registrar'" class="form-group">
            <label for="confirmEmail">{{ 'pages.translate.empresasAuth.login.form.confirmEmail' | translate }}</label>
            <input type="email" class="form-control" id="confirmEmail"
              placeholder="{{ 'pages.translate.empresasAuth.login.form.confirmEmailPlaceholder' | translate }}"
              formControlName="confirmEmail" required>
            <div *ngIf="companyForm.get('confirmEmail')?.touched && companyForm.get('confirmEmail')?.invalid"
              class="invalid-feedback">
              <div *ngIf="companyForm.get('confirmEmail')?.errors?.['required']">
                {{ 'pages.translate.empresasAuth.login.form.login.confirmEmailRequired' | translate }}
              </div>
              <div *ngIf="companyForm.get('confirmEmail')?.errors?.['email']">
                {{ 'pages.translate.empresasAuth.login.form.confirmEmailInvalid' | translate }}
              </div>
              <div *ngIf="companyForm.hasError('emailMismatch')">
                {{ 'pages.translate.empresasAuth.login.form.emailMismatch' | translate }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="senha">
              {{ 'pages.translate.empresasAuth.login.form.password' | translate }}
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
            </label>
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="senha"
              placeholder="{{ 'pages.translate.empresasAuth.login.form.passwordPlaceholder' | translate }}" formControlName="senha"
              required>
            <div *ngIf="companyForm.get('senha')?.touched && companyForm.get('senha')?.invalid"
              class="invalid-feedback">
              <div *ngIf="companyForm.get('senha')?.errors?.['required']">
                {{ 'pages.translate.empresasAuth.login.form.passwordRequired' | translate }}
              </div>
              <div *ngIf="companyForm.get('senha')?.errors?.['minlength']">
                {{ 'pages.translate.empresasAuth.login.form.passwordMinLength' | translate }}
              </div>
              <div *ngIf="companyForm.get('senha')?.errors?.['pattern']">
                {{ 'pages.translate.empresasAuth.login.form.passwordPattern' | translate }}
              </div>
            </div>
          </div>

          <!-- Campo confirmar senha, visível apenas no registro -->
          <div *ngIf="loginType === 'registrar'" class="form-group">
            <label for="confirmSenha">
              {{ 'pages.translate.empresasAuth.login.form.confirmPassword' | translate }}
              <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="toggleConfirmPasswordVisibility()"></i>
            </label>
            <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmSenha"
              placeholder="{{ 'pages.translate.empresasAuth.login.form.confirmPasswordPlaceholder' | translate }}"
              formControlName="confirmSenha" required>
            <div *ngIf="companyForm.get('confirmSenha')?.touched && companyForm.get('confirmSenha')?.invalid"
              class="invalid-feedback">
              <div *ngIf="companyForm.get('confirmSenha')?.errors?.['required']">
                {{ 'pages.translate.empresasAuth.login.form.confirmPasswordRequired' | translate }}
              </div>
              <div *ngIf="companyForm.get('confirmSenha')?.errors?.['minlength']">
                {{ 'pages.translate.empresasAuth.login.form.confirmPasswordMinLength' | translate }}
              </div>
              <div *ngIf="companyForm.hasError('passwordMismatch')">
                {{ 'pages.translate.empresasAuth.login.form.passwordMismatch' | translate }}
              </div>
            </div>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">
            <label class="form-check-label" for="rememberMe">{{ 'pages.translate.empresasAuth.login.form.rememberMe' | translate }}</label>
          </div>

          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="stayLogged" formControlName="stayLogged">
            <label class="form-check-label" for="stayLogged">{{ 'pages.translate.empresasAuth.login.form.stayLogged' | translate }}</label>
          </div>

          <div *ngIf="loginType === 'login'" class="form-group">
            <a href="#" class="d-block mb-3">{{ 'pages.translate.empresasAuth.login.form.forgotPassword' | translate }}</a>
          </div>

          <button type="submit" class="btn btn-primary w-100 mt-3">
            {{ loginType === 'login' ? ('pages.translate.empresasAuth.button.login' | translate) :
            ('pages.translate.empresasAuth.button.register' | translate) }}
          </button>
        </form>

        <div class="text-center mt-3">
          <button *ngIf="loginType === 'login'" class="btn btn-link" (click)="toggleForm('registrar')">
            {{ 'pages.translate.empresasAuth.links.register' | translate }}
          </button>
          <button *ngIf="loginType === 'registrar'" class="btn btn-link" (click)="toggleForm('login')">
            {{ 'pages.translate.empresasAuth.links.login' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
