.candidate-page {
  display: flex;
  align-items: stretch;
  padding: 2rem 0;
  gap: 1rem;

  .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .card {
      width: 100%;
      max-width: 500px;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

      .card-body {
        padding: 2rem;

        .title-login,
        .title-social,
        .title-login-method {
          font-size: 1.125rem;
          font-weight: normal;
          color: #666;
          text-align: center;
          margin-bottom: 1rem;
        }

        .title-login {
          font-weight: bold;
          color: #333;
        }

        .title-social {
          font-size: 1.25rem;
        }

        .title-login-method {
          font-size: 1.125rem;
          color: #666;
        }

        .social-login {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
          margin-top: 1rem;

          .btn-social {
            display: flex;
            align-items: center;
            width: 150px; /* Tamanho fixo para todos os botões */
            padding: 0.75rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            border-radius: 0.25rem;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            i {
              font-size: 1.75rem; /* Tamanho aumentado para ícones */
              margin-right: 0.5rem;
            }

            &.facebook {
              background-color: #3b5998;
            }

            &.google {
              background-color: #db4437;
            }

            &.github {
              background-color: #333;
            }

            &.linkedin {
              background-color: #0077b5;
            }
          }
        }

        .form-group {
          margin-bottom: 1rem;

          label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
            position: relative;
          }

          input.form-control {
            padding: 0.75rem 1.25rem;
            width: 100%;
            border-radius: 0.25rem;
            border-color: #6c757d;
          }

          .fa {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: color 0.3s;
          }

          .invalid-feedback {
            color: #dc3545;
            font-size: 0.875rem;
          }
        }

        .form-check {
          margin-bottom: 0.5rem;
          display: flex;
          align-items: center;

          .form-check-input {
            margin-right: 0.5rem;
          }
        }

        .btn {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .btn-link {
          color: #007bff;
          background: none;
          border: none;
          padding: 0;
          font-size: 0.875rem;
          cursor: pointer;
          text-decoration: underline;
          margin-top: 1rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .left-section,
    .right-section {
      flex: none;
    }
  }
}

.text-center {
  margin-top: 1rem;

  .btn {
    margin: 0 0.5rem;
    margin-bottom: 1rem;
  }

  i {
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }
}
