.homepage {
  display: flex;
  align-items: stretch;
  padding: 2rem 0;
  max-width: 100%;

  .img-section-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .img-section {
      max-width: 100%;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  .banners-section {
    flex: 1.33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .banner {
      text-align: center;
      background: #bec1c4;
      padding: 2rem;
      border-radius: 7px;
      margin-bottom: 1.5rem;
      color: #000;
      flex-grow: 1; // Permite que os banners cresçam para ocupar espaço

      .container {
        max-width: 960px;
        margin: 0 auto;
      }

      .display-4 {
        font-size: 2.5rem;
      }

      .lead {
        font-size: 1.25rem;
        text-align: justify;
      }

      .btn-primary {
        margin-top: 6.1rem;
        background-color: #0c141d;

        &:hover {
          background-color: #1d5999;
          color: #fff;
        }
      }
    }

    .banner:last-child {
      margin-bottom: 0;
    }
  }
}

// Ajustes para telas maiores que 1440px
@media (min-width: 1440px) {
  .homepage {
    padding: 2rem 0;

    .banners-section {
      .banner {
        .display-4 {
          font-size: 2.75rem;
        }

        .lead {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Ajustes para telas muito grandes (>1920px)
@media (min-width: 1920px) {
  .homepage {
    padding: 2rem 0;

    .banners-section {
      .banner {
        .display-4 {
          font-size: 3rem;
        }

        .lead {
          font-size: 1.75rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column;

    .img-section-wrapper,
    .banners-section {
      flex-basis: 100%;
    }

    .img-section {
      margin-bottom: 1rem;
      img {
        width: 100%;
      }
    }

    .banners-section {
      .banner {
        margin-bottom: 1.5rem;
        .display-4 {
          font-size: 1.5rem;
        }

        .lead {
          font-size: 1rem;
        }
      }
    }
  }
}
